<h1>Your Professor</h1>
<h3>
<%= @professor.name %><br>
</h3>

<%= link_to "Back", professors_path %>
<%= link_to "Edit", edit_professor_path %>
<%= button_to "Delete", professor_path(@professor), method: :delete %>